body {
  display: flex;
  justify-content: center;
  background-image: url(/static/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form {
  margin-top: 75px;
  width: 400px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2%;
}

input {
  width: 100%;
}

[float="right"] {
  float: right;
}
