{% extends 'base.html' %}


{% load cropping thumbnail %}

{% block content %}

<body>
  {% if mode != 'saved' %}
  <nav style="text-align: center;">
    <form method="get">
      <input type="text" name="find" placeholder="Product name"
        class="form-control mt-2" value="{{ request.GET.find }}"></input>
        {% for key, value in request.GET.items %}
        {% if key != 'find' %}
          <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endif %}
        {% endfor %}
      <button type="submit" class="btn btn-primary">Find</button>
    </form>
  </nav>
  
  <div class="container" style="flex-wrap: wrap;">
    <div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" {% if not request.GET %} style="background-color: rgba(0, 0, 0, 0.032);" {% endif %}>
          <a href="?">All</a></li>
          {% for category, url, category_id in categories %}
        <li class="list-group-item" {% if request.GET.cate == category_id|stringformat:'s' %} style="background-color: rgba(0, 0, 0, 0.032);" {% endif %}>
          <a href="{{ url }}">
            {{ category }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 my-4">
      {% for good in goods %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          {% cropped_thumbnail good.object "cropping" scale=1 as thumb %}
          <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
          <div class="card-body">
            <h5 class="card-title text-center">{{ good.object.title }}</h5>
            <p class="card-text">Description: {{ good.object.description }}</p>
            <hr>
            <li class="list-group-item">Comment: {{ good.object.com_qty }}</li>
            <hr>
            <li class="list-group-item">Category: {{ good.object.category }}</li>
            <hr>
            <li class="list-group-item">Price: {{ good.object.price }}$</li>
            <hr>
            <a href="{% url 'order:check_order' good.object.pk %}" class="btn btn-primary">Buy</a>
            <a href="{% url 'shop:single_goods' good.object.pk %}" class="btn btn-secondary">Delails</a>
            <br>
            <a href="{% url 'user:basket_add' good.object.pk %}"
              class="btn mt-1 {% if good.in_basket %} disabled {% else %} btn-secondary {% endif %}">
              {% if good.in_basket %} In the basket {% else %} Add to basket {% endif %}
            </a>
            {% if save %}
            <a href="{% url 'user:save_add' good.object.pk %}"
              class="btn mt-1 {% if not user.is_authenticated %} disabled {% elif good.is_saved %} btn-primary {% else %} btn-secondary {% endif %}">Save</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% empty %}
      Product not found
      {% endfor %}
    </div>
  </div>
  <div class="mb-4">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    </div>
    <div class="btn-group " role="group" aria-label="Third group">
      <a type="button" class="btn {% if not page_obj.has_previous %} disabled {% else %} btn-primary {% endif %}"
        href="{{ previous_page }}">Previous</a>
    </div>

    <div class="btn-group me-2" role="group" aria-label="First group">
      {% for page, url in page_range %}
      <a class="btn btn-secondary {% if page == page_obj.number %}active{% endif %}"
        href="{{ url }}">
        {{ page }}
      </a>
      {% endfor %}
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
      <a type="button" class="btn {% if not page_obj.has_next %} disabled {% else %} btn-info {% endif %}"
        href="{{ next_page }}">Next</a>
    </div>
  </div>
  </div>
</body>
{% endblock %}